.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Cmake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
Testing/

build/

.DS_Store